@media screen and (width <= 1440px) {
    .information {
        font-size: 7rem;
    }
}

@media screen and (width <= 1388px) {
    .weatherInput {
        font-size: 1.1rem;
        
        margin-top: .4rem;
    }
    .weatherButton {
        
        font-size: 1.1rem;
        margin-top: .4rem;
    }
}

@media screen and (width <= 1146px) {
    .informationBox {
        width: 9rem;
    }
    .weatherInput {
        
        margin-top: .6rem;
        font-size: .5rem;
    }
    .weatherButton {
        
        font-size: 1rem;
        margin-top: .6rem;
    }
}

@media screen and (width <= 910px) {
    .informationBox {
        width: 7rem;
    }
}

@media screen and (width <= 745px) {
    .weatherInformation {
        height: 23rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }
    .weatherBody {
        flex-direction: column;
        height: 33rem;
    }
    .otherInfomationBox {
        margin: 2rem;
    }
    .weatherHeading {
        margin: 3rem 4vw;
    }
    .information {
        font-size: 9rem;
    }

    .image-nodeNextleft-enter{
        transform: translateX(-70%);
    opacity: 0;
    }
    .image-nodeNextleft-enter-active{
    transform: translateX(0);
    opacity: 1;
    transition: opacity 1000ms, transform 1000ms;
    }
    
    .image-nodeNextleft-exit{
        transform: translateX(0);
        opacity: 1;
    }
    .image-nodeNextleft-exit-active{
        transform: translateX(-70%);
        opacity: 0;
        transition: opacity 1000ms, transform 1000ms;
    } 
    
    
    
    
}

@media screen and (width <= 705px) {
    .information {
        font-size: 9rem;
    }
}

@media screen and (width <= 619px) {
    .information {
        font-size: 5rem;
        margin: 6rem 0 0 0;
    }
}

@media screen and (width <= 608px) {
    .weatherHeader {
        flex-direction: column;
        align-items: center;
    }
    .weatherInput {
    
        margin: 3rem 0;
        right: 37vw;
        width: 11rem;
    }
    .weatherButton {
    
        right: 29vw;
        margin: 3rem 0;
    }
    .celcius {
        height: fit-content;
        margin-top: 6rem;
    }
    .weatherTitle {
        margin-top: 0rem;}
}



@media screen and (width <= 487px) {
    .information {
        font-size: 5.5rem;
    }
}

@media screen and (width <= 425px) {
    .otherInformation {
        font-size: 1.2rem;
    }
    .weatherButton{
        right: 26vw;
    }
    .weatherInput{
        right: 33vw;
    }
}


@media screen and (width <= 374px) {
    .weatherTitle {
        font-size: 1.4rem;
    }
    .weatherInput {
        right: 29vw;
    }
    .weatherButton {
        right: 23vw;
    }
    
}

@media screen and (width <= 310px) {
    .weatherInput {
        right: 33vw;
        width: 9rem;
    }
    .weatherButton {
        right: 17vw;
    }
    
    
    .degree {
            font-size: 1rem;
        }
    .weatherHeading {
            margin: 2rem 4vw;
            font-size: 1.3rem;
        }
    .informationBox {
            width: 6rem;
        }
}