@media screen and (width<= 899px) {
    .weatherTitle{
        font-size: 3rem;
    }
    .weatherInput{
        height: 1.5rem;
    }
    .weatherButton{
        font-size: 1rem;
    }

    .weatherImage {
        width: 21rem;}
    .weatherBody{
        width: fit-content;
    }
}


@media screen and (width<=442px){
    .weatherTitle{
        font-size: 2.5rem;
    }
   
    .weatherButton{
        font-size: 2rem;
    }
    .weatherImage {
        width: 17rem;
    }
    
}

@media screen and (width<= 470px) {
    .weatherImage {
        width: 16rem;
    }
    .weatherInput{
        height: 1.5rem;
        width: 10rem;
    }
    .weatherButton{
        font-size: .7rem;
        width: fit-content;
    }
    
}
@media screen and (width<= 370px) {
    .weatherTitle {
        font-size: 2rem;
    }
    
}
@media screen and (width<= 295px) {
    .weatherTitle{
        font-size: 1.1rem;
    }
    .heading{
        font-size: 1rem;
    }
    .weatherInput{
        width: 6rem;
    }
    .information{
        font-size: .6rem;
    }
    .weatherImage{
        
        width: 9rem;
        height: 10rem !important;
        
    }
  
    .weatherHeading {
            font-size: 1rem;
        }
    .degree{
        font-size: 1.3rem;
    }
}

@media screen and (width<= 170px) {
    .information{
    font-size: .4rem;
}
.weatherInput{
    width: 5rem;
}
}

